.recommended-item {
    .image-container {
        height: 140px;
        width: 100%;
        background-size: cover;
        border-radius: 8px;
        position: relative;

        button {
            position: absolute;
            right: 8px;
            top: 8px;
        }
    }

    .first-row {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 8px;

        span {
            font-size: 0.6875rem; //11px
            font-weight: 300;
            opacity: 0.75;
        }

        img {
            width: 10px;
            height: 10px;
        }
    }

    h4 {
        font-size: 0.875rem; //14px
        margin: 0;
        margin-bottom: 5px;
        font-weight: 500;
    }
}


@media screen and (min-width: 768px) {

    .recommended-item {
        .image-container {


            button {
                top: 16px;
                right: 16px;
            }
        }

        .first-row {
            gap: 8px;
            
            span {
                font-size: 0.8125rem; //11px
            }

            img {
                width: 12px;
                height: 12px;
            }
            
        }

        h4 {
            font-size: 1.125rem; //18px
        }

    }
}


@media screen and (min-width: 768px) {

    .recommended-item {

        .image-container {
            height: 190px;
        }

    }
}